/* ==== Global Box-Sizing ==== */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.desktop {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* ❗ Hentikan scroll horizontal */
  }
  
  .desktop .overlap-wrapper {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  overflow: visible; /* jangan hidden kalau header pakai absolute */
}
  
  .desktop .overlap {
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  
  .desktop .mask {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  
  .desktop .overlap-group {
    position: relative;
    height: auto;
  }
  
  .desktop .download-nero-AI {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  
  .desktop .rectangle {
    width: 100%;
    height: 615px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 250, 250, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    position: absolute;
    top: 0;
  }
  
  .desktop .div {
    max-width: 1280px;
    width: 100%;
    height: 720px;
    left: 0;
    background-color: #f559060d;
    position: absolute;
    top: 0;
  }
  
  .desktop .group {
    position: absolute;
    width: 100%;
    max-width: 221px;
    height: auto;
    top: 40px;
    left: 183px;
  }
  
  
  .desktop .text-wrapper {
    position: absolute;
    max-width: 102px;
    width: 100%;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    max-width: 174px;
    width: 100%;
    top: 0;
    left: 47px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #f55906;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: normal;
  }

  .desktop .group-2 {
    position: absolute;
    width: 20px;
    height: 45px; 
    top: 28px;
    left: 99px;
  }


/*sementara*/

  .logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 28px;     /* Jarak dari atas */
    left: 100px;    /* Jarak dari kiri */
    z-index: 10;
    font-family: "Inter", Helvetica;
  }

  .logo-img {
    margin-right: 0;
    padding-right: 0;
    display: block;
    max-width: 86px;
    width: 100%;
    height: auto; /* Atur sesuai ukuran yang pas */
  }

  .logo-text {
    position: relative;
    margin-left: -3px;
    top: 4px;
    font-size: 1.5rem;
    letter-spacing: 0;

  }

  .fast {
    color: black;
    font-weight: 400;
  }

  .yummy {
    color: #f55906;
    font-weight: 700;
  }








  
  .desktop .MASUKK {
    position: absolute;
    width: 1368px;
    height: 116px;
    top: 0;
    left: 0;
  }
  
  .desktop .home-menu-contact {
    position: absolute;
    top: 40px;
    left: 492px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .span {
    font-weight: 800;
    color: #f55906;
  }
  
  .desktop .text-wrapper-3 {
    font-weight: 600;
    color: #000000;
  }
  
  .desktop .text-wrapper-4 {
    font-weight: 500;
    color: #000000;
  }
  
  .desktop .overlap-2 {
    position: absolute;
    width: 222px;
    height: 46px;
    top: 32px;
    left: 951px;
  }
  
  .desktop .rectangle-2 {
    width: 105px;
    height: 46px;
    left: 117px;
    background-color: #f55906;
    border-radius: var(--size-radius-full);
    position: absolute;
    top: 0;
  }
  
  .desktop .rectangle-3 {
    width: 105px;
    height: 46px;
    left: 0;
    border-radius: var(--size-radius-full);
    border: 1px solid;
    border-color: #a7a7a7;
    position: absolute;
    top: 0;
  }
  
  .desktop .masuk {
    position: absolute;
    width: 177px;
    height: 19px;
    top: 13px;
    left: 30px;
  }
  
  .desktop .text-wrapper-5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-111%, -18%);
    width: 105px;
    height: 46px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    text-align: center;
    white-space: nowrap;
  }


  
  .desktop .text-wrapper-6 {
    position: absolute;
    top: 50%;
    left: calc(50% + 117px); /* 117px sesuai jarak shape Sign Up */
    transform: translate(-111%, -18%);
    width: 105px;
    height: 46px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
  }

  
  .desktop .BURGER {
    position: absolute;
    max-width: 625px;
    width: 100%;
    height: auto;
    top: 93px;
    left: 669px;
  }
  
  .desktop .overlap-3 {
    position: relative;
    width: 611px;
    height: 389px;
  }
  
  .desktop .splash-colorsplash {
    position: absolute;
    max-width: 611px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  
  .desktop .group-of-fast-food {
    position: absolute;
    width: 320px;
    height: 320px;
    top: 69px;
    left: 113px;
    object-fit: cover;
  }
  
  .desktop .teks-depan {
    position: absolute;
    width: 643px;
    height: 245px;
    top: 162px;
    left: 109px;
  }
  
  .desktop .overlap-4 {
    position: relative;
    height: 245px;
  }
  
  .desktop .judul-besar {
    position: absolute;
    width: 643px;
    height: 245px;
    top: 0;
    left: 0;
  }
  
  .desktop .overlap-group-3 {
    position: relative;
    width: 641px;
    height: 245px;
  }
  
  .desktop .fresh-delicious {
    position: absolute;
    max-width: 397px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  
  .desktop .FRESH-DELICIOUS {
    position: absolute;
    max-width: 362px;
    width: 100%;
    top: 0;
    left: 33px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #8e8e8c;
    font-size: 1rem;
    letter-spacing: 0.80px;
    line-height: normal;
  }
  
  .desktop .line {
    position: absolute;
    width: 25px;
    height: 1px;
    top: 12px;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .delicious-meals {
    position: absolute;
    max-width: 641px;
    width: 100%;
    top: 33px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: auto;
    color: transparent;
    font-size: 3rem;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-7 {
    color: #000000;
    font-size: 3rem;
  }
  
  .desktop .text-wrapper-8 {
    font-weight: 600;
    font-size: 3rem;
    color: #f55906;
  }
  
  .desktop .p {
    position: absolute;
    max-width: 477px;
    width: 100%;
    top: 198px;
    left: 3px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #727270;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .order {
    position: absolute;
    max-width: 289px;
    width: 100%;
    height: auto;
    top: 443px;
    left: 117px;
  }
  
  .desktop .ORDER-NOW {
    position: absolute;
    max-width: 139px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  
  .desktop .div-wrapper {
    position: relative;
    width: 137px;
    height: 55px;
    background-color: #f55906;
    border-radius: var(--size-radius-full);
  }
  
  .desktop .text-wrapper-9 {
    position: absolute;
    width: 84px;
    top: 19px;
    left: 27px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .overlap-5 {
    position: absolute;
    width: 137px;
    height: 55px;
    top: 0;
    left: 150px;
    border-radius: 9999px;
  }
  
  .desktop .text-wrapper-10 {
    position: absolute;
    width: 86px;
    top: 19px;
    left: 26px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .rectangle-4 {
    position: absolute;
    width: 137px;
    height: 55px;
    top: 0;
    left: 0;
    border-radius: var(--size-radius-full);
    border: 1px solid;
    border-color: #a7a7a7;
  }
  
  .desktop .PROMO {
    position: absolute;
    max-width: 459px;
    width: 100%;
    height: auto;
    top: 571px;
    left: 74px;
  }
  
  .desktop .overlap-6 {
    position: relative;
    width: 455px;
    height: 108px;
    background-image: url(https://c.animaapp.com/XyuEg8Mk/img/spanduk-penjualan-diskon-bentuk-kustom-modern-dan-tag-vektor-gra@2x.png);
    background-size: 100% 100%;
  }
  
  .desktop .food-delivery-symbol {
    position: absolute;
    width: 82px;
    height: 64px;
    top: 44px;
    left: 3px;
  }
  
  .desktop .text-wrapper-11 {
    position: absolute;
    width: 259px;
    top: 44px;
    left: 93px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
    font-size: 1.125rem;
    letter-spacing: 0.90px;
    line-height: normal;
  }
  
  .desktop .text-wrapper-12 {
    position: absolute;
    width: 160px;
    top: 6px;
    left: 93px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Poppins", Helvetica;
    font-weight: 900;
    font-style: italic;
    color: #ffffff;
    font-size: 1.125rem;
    letter-spacing: 0.90px;
    line-height: normal;
  }
  
  .desktop .slogan {
    position: absolute;
    width: 723px;
    height: 203px;
    top: 482px;
    left: 730px;
  }
  
  .desktop .speedy-meals {
    position: absolute;
    width: 557px;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 3.4375rem;
    letter-spacing: 1.10px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-13 {
    color: #f55906;
    letter-spacing: 0.61px;
  }
  
  .desktop .text-wrapper-14 {
    color: #000000;
    letter-spacing: 0.61px;
  }
  
  .desktop .taste-the-speed-love {
    position: absolute;
    width: 716px;
    top: 157px;
    left: 1px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 1.25rem;
    letter-spacing: 1.00px;
    line-height: normal;
  }
  
  .desktop .text-wrapper-15 {
    color: #000000;
    font-style: italic;
    letter-spacing: 0.20px;
  }
  
  .desktop .text-wrapper-16 {
    font-weight: 600;
    color: #f55906;
    font-style: italic;
    letter-spacing: 0.20px;
  }
  
  .desktop .happy-feels {
    position: absolute;
    width: 589px;
    top: 72px;
    left: 1px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 3.4375rem;
    letter-spacing: 1.10px;
    line-height: normal;
  }
  
  .home-menu-contact a {
    text-decoration: none;
    color: black;
    font-weight:500;
    margin: 0 10px;
  }
  
  .home-menu-contact a:hover {
    color: orange;
  }

  
  .signin-click-area,
  .signup-click-area {
    position: absolute;
    width: 105px;
    height: 46px;
    top: 0;
    z-index: 10;
    cursor: pointer;
  }

  /* Posisi klik mengikuti rectangle-3 dan rectangle-2 */
  .signin-click-area {
    left: 0; /* sesuai posisi rectangle-3 */
  }

  .signup-click-area {
    left: 117px; /* sesuai posisi rectangle-2 */
  }

  /* Hover efek visual */
  .signin-click-area:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 9999px;
  }
  
  .signup-click-area:hover {
    box-shadow: 0 0 10px rgba(255, 117, 43, 0.5);
    border-radius: 9999px;
  }

  /* ===== FORM CONTAINER ===== */
#signinForm, #signupForm {
  width: 300px;
  margin: 80px auto;
  padding: 30px 25px;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
}

/* ===== TITLES ===== */
#signinForm h2, #signupForm h2 {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  color: #fe6201;
  font-weight: bolder;
}

/* ===== INPUT FIELDS ===== */
#signinForm input, #signupForm input,
#signupForm select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

#signinForm input:focus, #signupForm input:focus,
#signupForm select:focus {
  border-color: #fe6201;
}

/* ===== BUTTON ===== */
#signinForm button, #signupForm button {
  padding: 10px;
  background: #fe6201;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: background 0.3s ease;
}

#signinForm button:hover, #signupForm button:hover {
  background: #fe6201;
}

/* ===== SMALL TEXT & LINKS ===== */
#signinForm small, #signupForm small {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  color: #555;
}

#signinForm a, #signupForm a {
  color: #fe6201;
  text-decoration: none;
  font-weight: bold;
}

#signinForm a:hover, #signupForm a:hover {
  text-decoration: underline;
}

/* ===== CLOSE BUTTON ===== */
.close-btn {
  position: absolute;
  top: 113px;
  right: 0px;
  font-size: 24px;
  color: #999;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #000000;
}

.send-btn {
  background-color: #ff5757;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hamburger {
  display: none;
  color: #000;
  position: absolute;
  top: 21px;
  left: 20px !important;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 11;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background: white;
  flex-direction: column;
  padding: 10px 0;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.nav-mobile a {
  padding: 12px 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid #eee;
}

.nav-mobile a:hover {
  background: #f55906;
  color: white;
}

  .nav-desktop {
    position: relative;
    z-index: 10; /* Pastikan berada di atas elemen lain */
  }

  .MASUKK {
    position: relative;
    z-index: 10;
  }

  .rectangle,
  .div {
    z-index: 0;
  }

  .rectangle,
  .div,
  .mask {
    pointer-events: none; /* Agar tidak menangkap klik */
  }

  a.ORDER-NOW:hover .div-wrapper {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); /* sedikit efek naik */
    transition: all 0.3s ease;
  }

  a.overlap-5:hover .rectangle-4 {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }

  a.ORDER-NOW,
  a.overlap-5 {
    cursor: pointer; /* ubah kursor jadi tangan saat hover */
  }



@media (max-width: 450px) {

  .desktop .delicious-meals {
    max-width: 641px;
    width: 50%;
    top: 10px;
    left: -72px;
    text-align: center;
    
   
    
    letter-spacing: 0;
    line-height: 100%;
  }
  
  .desktop .text-wrapper-7 {
    color: #000000;
    font-size: 2rem;
  }

  .desktop .text-wrapper-8 {
    font-weight: 600;
    color: #f55906;
    font-size: 2rem;
  }

  .desktop .mask {
    width: 65%;
  }

  .nav-desktop {
    display: none !important;
  }

  .hamburger {
    left: 7PX;
    display: block;
    width: 10px;
  }

  .nav-mobile.show {
    display: flex;
  }

  .MASUKK {
    display: block !important;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
  }

  .MASUKK .overlap-2 {
    position: absolute;
    display: flex !important;
    flex-direction: row;
    gap: 1px;
    left: 140px;
    top: 11px;
  }

  .MASUKK .masuk {
    display: flex !important;
    flex-direction: row;
    gap: 1px !important;
  }

  .MASUKK .text-wrapper-5,
.MASUKK .text-wrapper-6 {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 20px;
  width: 60px;
  padding: 0 10px;        /* ✅ Pendekin padding */
  border-radius: 20px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  margin: 0 !important;
}


  .MASUKK .text-wrapper-5 {
    background-color: transparent;
    border: 1px solid #333;
    color: #000;
    left: 140px !important;
  }

  .MASUKK .text-wrapper-6 {
    background-color: #f2540d;
    border: none;
    color: #fff;
  }


  .MASUKK .text-wrapper-5:hover {
    background-color: #f5f5f5;
  }

  .MASUKK .text-wrapper-6:hover {
    background-color: #d6470b;
  }

  .MASUKK .rectangle-2,
  .MASUKK .rectangle-3,
  .MASUKK .signin-click-area,
  .MASUKK .signup-click-area {
    display: none !important;
  }

  

  .logo-container {
    width: 10%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 28px;     /* Jarak dari atas */
    left: 50px;    /* Jarak dari kiri */
    z-index: 10;
    font-family: "Inter", Helvetica;
  }

  .logo-img {
    margin-right: 0;
    padding-right: 0;
    display: block;
    max-width: 86px;
    width: 20%;
    height: auto; /* Atur sesuai ukuran yang pas */
  }

  .logo-text {
    position: relative;
    margin-left: -3px;
    top: 3px;
    font-size: 1rem;
    letter-spacing: 0;

  }

  .fast {
    color: black;
    font-weight: 400;
  }

  .yummy {
    color: #f55906;
    font-weight: 700;
  }




/*bg mask*/
  .desktop .mask {
    position: absolute;
    width: 150%;
    height: 1000px;
    top: 0;
    left: 0;
  }
  
  .desktop .overlap-group {
    position: relative;
    height: 400px;
  }
  
  .desktop .download-nero-AI {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
  }
  
  .desktop .rectangle {
    width: 100%;
    height: 400px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 250, 250, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    position: absolute;
    top: 0;
  }


/*bg orenge*/
  .desktop .div {
    height: 2000px;
  }





  .desktop .fresh-delicious {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  
  .desktop .FRESH-DELICIOUS {
    width: 100%;
    top: -55px;
    left: 9px;
  }

  .line{
    display: none;
  }

/* burger splash */
  .desktop .BURGER {
    width: 40%;
    top: 350px;
    left: -80px;
  }
  
  
/* deskripsi */
  .desktop .p {
    width: 50%;
    top: 580px;
    left: -74px;
    text-align: center;
  }


  /*0rder Learn more*/
  .desktop .order {
    width: 40%;
    height: auto;
    top: 850px;
    left: 55px;
  }
  

  /*promo*/
  .desktop .PROMO {
    width: 50%;
    top: 950px;
    left: 15px;
  }
  
}


